.wrapper {
  width: 98%;
  margin: 0 auto 0 auto;

}

body {
  margin: 0;
  font-family: 'Bungee Shade', cursive;
  font-size: 248%;
  color: #2d4856;
  background-image: url('hipsterDeer.jpg');
  background-size: 10%;
  background-repeat: repeat;
}

.title {
  opacity: .93;
  text-align: left;
  font-family: 'Monofett', cursive;
  font-size: 200%;
  background-color: hsla(215, 96%, 100%, .5);
}

.copy {
  font-size: 80%;
  background-color: hsla(215, 96%, 100%, .7);
  line-height: 1.7em;
  width: 90%;

}

.smText {
  font-size: 30%;
}

.medText {
  font-size: 50%;
}

.doubleKey {
  padding: 0 30px 0 30px;
}

.calculatorBody {
  opacity: 0.95;
  position: relative;
  margin: 10px auto 10px auto;
  height: 520px;
  width: 400px;
  background-color: gray;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px 1px #888888;
  background-image: url('ebony.jpg');
  background-size: cover;
}

.display-wrapper {
  z-index: -1;
  height: 48px;
  width: 300px;
  display: block;
  margin: 50px auto 10px auto;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 45px;
  vertical-align: middle;
  border-radius: 2px;
  /*background-color: #e3ebef;*/
  /*overflow: hidden;*/
  /*box-shadow: 4px 4px 1px black;
  /*letter-spacing: 5px*/
}

.display {
  font-family: 'Amatic SC', cursive;
  z-index: 1;
  width: 255px;

  margin: -60px auto;

  overflow: hidden;
}



.numberPad {
  text-align: center;
  height: 330px;
  width: 200px;
  background-repeat: repeat;
  background-image: url('maple.jpg');
  background-size: cover;
  background-color: #cccdd1;
  position: absolute;
  margin: 150px 200px 20px 20px;
  border-radius: 4px;
}

ul {
	display: inline-block;
	margin: auto;
	padding: 0px;
}

li {
  display: inline-block;
  margin: 0 auto;
}

.operatorPad {
  text-align: center;
  height: 330px;
  width: 150px;
  background-color: #cccdd1;
  position: absolute;
  margin: 150px 10px 40px 230px;
  border-radius: 2px;
  background-image: url('pink.jpg');
  background-repeat: repeat;
}

.input, .action {
  height: 50px;
  width: 50px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #80C4DE;
  box-shadow: 2px 2px 1px #888888;
  text-align: center;
  line-height: 47px;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  border-radius: 3px;
}

.input:active {
  box-shadow: 2px 2px 1px #6fa5ba;
  background-color: #77b6ce;
}

.calculate {
  width: 70px;
  text-align: center;
}
